<div class="panel panel-primary">
  <div class="panel-heading">
    <h1>Todos os Posts</h1>
    <div class="row">
      <div class="col-sm-4">
        <label for="filtro">Pesquisa</label>
        <div class="input-group">
          <input id="filtro"
            ng-model="filtroPosts"
            ng-change="atualizarPosts()"
            ng-model-options='{debounce: 500}'
            type="text"
            class="form-control "
            placeholder="Faça sua busca..."
            describedby="basic-addon2">
          <span class="input-group-addon" id="basic-addon2" ng-click="atualizarPosts()">
            <i class="glyphicon glyphicon-search"></i>
          </span>
        </div>

      </div>
    </div>

  </div>
  <div class="panel-body">
    <div class="list-group" ng-repeat="post in posts">
      <a href="#/posts/{{post._id}}" class="list-group-item active">
        <h4 class="list-group-item-heading" ng-bind="post.titulo"></h4>
        <p class="list-group-item-text" ng-bind="post.dataPostagem | date:'dd/MM/yyyy hh:mm:ss'"></p>
        <div class="tag-post">
          <span ng-repeat="tag in post.tags" ng-bind="tag"></span>
        </div>
      </a>
    </div>
  </div>
  <div class="panel-footer">
    <div class="row">
      <div class="col-sm-10 text-center">
        <nav aria-label="...">
          <ul class="pagination">
            <li ng-class="{disabled: paginaAtual==1}">
              <a ng-click="carregarPagina(paginaAtual-1)" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li ng-repeat="pag in montarPaginas(paginaTotal) track by $index"
              ng-class="{active: $index+1==paginaAtual}">
              <a ng-click="carregarPagina($index+1)">{{$index+1}} </a>
            </li>
            <li ng-class="{disabled: paginaAtual==paginaTotal}">
              <a ng-click="carregarPagina(paginaAtual+1)" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-sm-2 text-center">
        <label for="nrPPag">Nº por PG</label>
        <input type="number"
          id="nrPPag"
          ng-model="selPag"
          ng-change="atualizarPosts()"
          ng-model-options='{debounce: 500}'
          class="form-control">
      </div>
    </div>
  </div>
</div>
