<div class="panel panel-primary">
  <div class="panel-heading">
    <h1>Todos os Posts</h1>
    <div class="row">
      <div class="col-sm-4">
        <label for="filtro">Pesquisa</label>
        <div class="input-group">
          <input id="filtro"
            ng-model="filtroPosts"
            ng-change="atualizarPosts()"
            ng-model-options='{debounce: 500}'
            type="text"
            class="form-control "
            placeholder="Faça sua busca..."
            describedby="basic-addon2">
          <span class="input-group-addon" id="basic-addon2" ng-click="atualizarPosts()">
            <i class="glyphicon glyphicon-search"></i>
          </span>
        </div>

      </div>
    </div>

  </div>
  <div class="panel-body">
    <div class="list-group" ng-repeat="post in posts">
      <a href="#" class="list-group-item active">
        <h4 class="list-group-item-heading" ng-bind="post.titulo"></h4>
        <p class="list-group-item-text" ng-bind="post.dataPostagem | date:'dd/MM/yyyy hh:mm:ss'"></p>
        <div class="tag-post">
          <span ng-repeat="tag in post.tags" ng-bind="tag"></span>
        </div>
      </a>
    </div>
  </div>
  <div class="panel-footer">
    <div class="row">
      <div class="col-sm-2">
        <p>Total de posts: {{totalPosts}}</p>
      </div>
      <div class="col-sm-6">
        <nav aria-label="...">
          <ul class="pagination">
            <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
            <li><a href="#">2 </a></li>
            <li><a href="#">3 </a></li>
            <li><a href="#">4 </a></li>
            <li>
              <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-sm-2">
        <p>Pagina atual: {{paginaAtual}}</p>
      </div>
      <div class="col-sm-2">
        <p>Pagina Páginas: {{paginaTotal}}</p>
      </div>
    </div>
  </div>
</div>
